streamlit

# Pinning numpy to a stable version to fix
# the "numpy.dtype size changed" error.
numpy==1.24.4

# Let spacy pull its dependencies (torch, transformers, etc.)
spacy[transformers]==3.7.3

# The spaCy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl#egg=en_core_web_trf

# Your PDF libraries
pdfplumber
pymupdf
